<small><b><%= link_to comment.user.name, comment.user %></b> <i>said <%= time_ago_in_words(comment.created_at) %> ago:</i></small>
<br>
<%= comment.body %>
<div class="accordion">
  <div class="panel">
    <small>
      <%= link_to like_comment_path(comment), method: :put do %>
        &#x25B2
      <%= comment.get_upvotes.size %>
      <%= link_to dislike_comment_path(comment), method: :put do %>
        &#x25BC
      <%= comment.get_downvotes.size %> -
    <% end %>
    <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= comment_counter %>">Reply</a>
      <% if current_user == comment.user %>
        - <%= link_to "Delete", [@commentable, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
  </div>
  <div id="collapse<%= comment_counter %>" class="panel-collapse collapse">
  <%= form_for [comment, Comment.new] do |f| %>
      <div class="field">
          <%= f.text_area :body, placeholder: "Add a Reply", class: "form-control" %>
          <%= f.submit "Save", class: "btn btn-sm btn-default" %>
      </div>
  <% end %>
  </div></small>
</div>
<ul>
    <%= render partial: 'comments/comment', collection: comment.comments.order(:cached_votes_score => :desc) %>
    <% end %>
</ul>