<div class="row" id="profilemain">
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div class="col-xs-24 col-sm-12 col-md-16">
      Sort by: <i>Date</i>
      <hr>
      <%= render 'history' %>
      </div>
  </div>
  <div class="col-xs-6 col-md-4 offset-6">
    <div class="col-xs-12 col-md-12 offset-12" id="profilebar">
      <h2><%= @user.name %></h2><i><%= @comments.count %> comments</i><br><i><%= @posts.count %> submissions</i><br>user since: <b><%= @user.created_at.strftime("%m-%d-%Y") %> </b></div>
  </div>
</div>