<style>
	tr.row {
		border-bottom: 1px solid grey;
		margin-top: 50px;

    }
	td#thumbnail{
		margin-top: 50px;
	}

	td#details {
		display:inline;
	}

	td#goal_zone {
		text-align:right;
	}
</style>

<table>
	<tbody>
		<% @campaigns[0..9].sort_by(&locals[:organize].to_sym).each do |c| %>
			<tr class = 'row border_bottom'>
				<td class = "thumbnail" id="listthumb">
				</td>
				<td class = "details">
					<font size=4><%= link_to c.title, show_campaign_path(c.id)%></font><small><br>
					Posted by: <%= link_to User.find(c.ownership).name, user_path(c.ownership) %> - <%= c.comments.size %> comments -
                      <% if c.website.present? %>
                        <%= link_to 'Source Link', c.website, :target => '_blank' %> -
                      <% else %> 
                      	<font color = red><%= 'No Source Provided -' %> </color>
                      <% end %>
                    <a type="button" data-toggle="modal" data-target="#myModal<%= c.qr_code %>">View QR</a>
                    	<div id="myModal<%= c.qr_code %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        	<div class="modal-dialog">
                        		<div class="modal-content">
                            		<div class="modal-body">
                            			<div class="modal-info">
                            				<center><h1><%= c.title %></h1>
                            				<%= c.qr_code %></center>
                            			</div>
                              			<img src="http://chart.googleapis.com/chart?cht=qr&chs=500x500&chl=<%= c.qr_code %>" class="img-responsive">
                            		</div>
                          		</div>
                    		</div>
                      </div>
				</small></td>
				<td class = "goal_zone">
					<%= open('https://blockchain.info/q/addressbalance/'+ c.qr_code).read %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>