<div class="container" id="projectbody">
  <div class="jumbotron" id="campaignjumbo">
    <div><h1><%=@campaign.title%></h1></div>
    <i>views: <%= @campaign.views %></i><br>
    <h3><b><%= @campaign.qr_code %></b></h3>
  </div>
  <div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#user" data-toggle="tab">Overview</a></li>
      <li><a href="#feedback" data-toggle="tab">Details</a></li>
      <div id="exchangeinfo" align="right">Current Exchange: 1 BTC = $<%= @current_bitcoin_price %>USD</div>
    </ul>
  </div>
  <div class="tab-content">
    <div class="tab-pane active" id="user">
      <div class="col-lg-9 col-md-9">
        <div id="coverimage">
          <div id="description"
          <p><%= markdown(@campaign.description) %><small><%= link_to "Edit", edit_campaign_path, remote: true, id: "edit_desc" %></small></p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3" id="sidebar">
        <img src="http://chart.googleapis.com/chart?cht=qr&chs=200x200&chl=<%= @campaign.qr_code %>">
        <h2><%= number_with_delimiter(@current_balance) %></h2><h5>bits currently held</h5>
        <h3><%= @tx_count %></h3><h5>transactions</h5>
        <h3><%= number_with_delimiter(@total_btc) %></h3><h5>bits received</h5>
        <h3><% if @campaign.website.blank? %>
              <a class="btn btn-danger disabled">No Source Link</a>
          <% else %>
              <a href="http://<%= @campaign.website %>" class="btn btn-success" target="_blank">View Source</a>
          <% end %>
          </h3>
        <a class="btn btn-primary" type="button" data-toggle="modal" data-target="#myModal">View QR Code</a>
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-body">
                <img src="http://chart.googleapis.com/chart?cht=qr&chs=500x500&chl=<%= @campaign.qr_code %>" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- @end #user -->
    <div class="tab-pane" id="feedback">
      <div>
        <br>
        <table class = 'table-striped table-bordered table-condensed table-responsive' style = "table-layout:auto;">
          <thead><th>Donation Info </th><th>Donation Info</th></thead>

          <tr><td class = "auto">Submitted:</td><td> <%= @campaign.created_at %></td></tr>
          <tr><td>Page views:</td><td> <%= @campaign.views%></td></tr>
          <tr><td>Address:</td><td><%=@campaign.qr_code%></td></tr>
          <tr><td>Tags:</td><td><%=@campaign.tags%></td></tr>
          <tr><td>Source:</td><td><%=@campaign.website%></td></tr>
        </table>
      </div>
    </div><!-- @end #feedback -->
  </div><!-- @end .tab-content -->

  <div class="container" id="projectdetails">
    <div class="tab-content col-md-10">
    </div>
  </div><!-- tab content -->
  <div id="donationdetails">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#stream" data-toggle="tab">Discussion</a></li>
      <li><a href="#comments" data-toggle="tab">Donation Stream</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane" id="comments">
        <h3>Recent Transfers To: <i><%=@campaign.title%></i></h3>
        <table class="table" >
        <thead>
          <tr>
            <th>Date</th>
            <th>Comment</th>
            <th>Amount</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
        <% @transaction.each do |t| %>
          <% @tx_change = open('https://blockchain.info/es/q/txresult/'+ t['hash'] + '/'+ @campaign.qr_code + '?api_code=4def58da-fcc3-44d9-abe1-a3e311a76a4f').read %>
            <% if @tx_change.to_i > 0 %>
              <tr style="background-color:#e6ffe6">
            <% else %>
              <tr style="background-color:#ffcccc">
            <% end %>
              <td><%= Time.at(t['time']).strftime("%b %e, %Y @ %l:%M%P") %></td>
              <td><%= t['out'][0]['addr_tag'] %></td>
              <td><%= @tx_change.to_i / 100.to_f.round(10) %> bits</td>
              <td><%= link_to 'More Details' , 'https://blockchain.info/tx/' + t['hash'], :target => '_blank' %></td>
            </tr>
            <% end %>
        </tbody>
      </table>
      </div><!-- @end #stream -->
      <div class="tab-pane active" id="stream">

        <h3 class="comments_title">
         <%= @all_comments.count %> Comments
        </h3>
        <%= form_for [@campaign, Comment.new] do |f| %>
            <%= f.text_area :body, placeholder: "Add a comment", class: "form-control", rows: "3" %>
            <br>
            <%= f.submit "Add Comment", class: "btn btn-sm btn-default" %>
        <% end %>
        <hr>
        <ul>
          <%= render(partial: 'comments/comment', collection: @campaign.comments.order(:cached_votes_score => :desc)) %>
        </ul>
<!-- @end #comments -->
</div><!-- @end .tab-content -->